<!DOCTYPE html>
<html lang="en">
  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Non-intrusive Load Monitoring">
    <meta name="author" content="Peter Goldsborough">

    <title>pNilm</title>

    <link rel="stylesheet" type="text/css" href="../static/css/error-style.css">
    <link rel="stylesheet" type="text/css" href="../static/rsc/themify-icons.css">
    
  </head>

  <body>
      <div class="ti-face-sad"></div>
      <span>Page not found</span>
  </body>
</html>
